<!DOCTYPE html>
<html>
<head>
  <title>Maven</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "dev/application", media: "all" %>

  <%= javascript_include_tag :application %>
</head>
<body>

<main class="wrapper">
  <nav class="navigation" id="navigation">
    <section class="container">
      <% unless devise_controller? %>
        <%= link_to "Home", root_path, class: 'button button-clear' %>
        <%= link_to "Maven", maven_path, class: 'button button-clear' %>
        <%= link_to "VendorDeps", maven_frc_path, class: 'button button-clear' %>
      <% end %>
      <div style="float: right;">
        <% unless devise_controller? %>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <%= link_to "Tokens", maven_admin_tokens_path, class: 'button button-clear' %>
            <% end %>
            <%= link_to current_user.username, edit_user_registration_path, class: 'button button-clear' %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'button button-clear' %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: 'button button-clear' %>
          <% end %>
        <% end %>
      </div>
    </section>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
</div>

</body>
</html>
