<!DOCTYPE html>
<html>
<head>
  <title>Directory Listing for <%= @path.empty? ? "/" : @path %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "dev/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
