<!DOCTYPE html>
<html>
<head>
  <title>Champs On Deck</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "on_deck/application", media: "all" %>
  <%= javascript_include_tag "on_deck/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
